<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Chartist.Blazor.Demo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Chartist Charts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/SimpleLine">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Simple Line
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/SimpleBar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Simple Bar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/HorizontalBar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Simple Horizontal Bars
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/EventedBar">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Evented Bar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/EventedLine">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Evented Line
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/SimplePie">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Simple Pie
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
