@page "/CardinalLine"

<h3>Cardinal Line</h3>

<ChartistLine Data="_simpleLineData" Options="_defaultLineOptions" />

@code {

    ExtendedChartData _simpleLineData { get; set; }
    LineOptions _defaultLineOptions { get; set; } = new ()
    {
        InterpolationType = InterpolationType.Cardinal
    };

    protected override void OnInitialized()
    {
        _simpleLineData = new Core.Data.ExtendedChartData()
        {

            Labels = new List<string> { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday" }

        };


       var series = new SeriesData();
            series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 12, Meta = new PointMetaInfo{ Label = "Monday"} });
            series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 9, Meta = new PointMetaInfo{ Label = "Tuesday"}});
            series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 7, Meta = new PointMetaInfo{ Label = "Wednesday"} });
            series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 8, Meta = new PointMetaInfo{ Label = "Thursday"} });
            series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 5, Meta = new PointMetaInfo{ Label = "Friday"} });
            _simpleLineData.Series.Add(series);


    }







}
