@page "/HorizontalBar"

<h3>Simple Horizontal</h3>

<ChartistBar Data="HorizontalBarData" Options="_options" RotateHorizontalLabels="true"/>

@code
{
    ExtendedChartData HorizontalBarData { get; set; }

    BarOptions _options;

    protected override void OnInitialized()
    {

        _options = new BarOptions
        {
            HorizontalBars = true, 
            ReverseData = true,
            
            AxisY = new AxisXOptions()
            {
                ShowLabel = true,
                Offset = 70,
                Position = LabelPosition.Start,
            }
        };

        HorizontalBarData = new ExtendedChartData()
        {
            Labels = new List<string> {"A", "E", "X", "T", "R"}
        };

        var series = new SeriesData();
        series.SeriesPoints.Add(new SeriesPoint {X = 12, Meta = new PointMetaInfo {Label = "Monday"}});
        series.SeriesPoints.Add(new SeriesPoint {X = 9, Meta = new PointMetaInfo {Label = "Tuesday"}});
        series.SeriesPoints.Add(new SeriesPoint {X = null, Meta = new PointMetaInfo {Label = "Wednesday"}});
        series.SeriesPoints.Add(new SeriesPoint {X = 8, Meta = new PointMetaInfo {Label = "Thursday"}});
        series.SeriesPoints.Add(new SeriesPoint {X = 5, Meta = new PointMetaInfo {Label = "Friday"}});
        HorizontalBarData.Series.Add(series);
    }




}