@page "/plugins"

<h3>Plugins Activated</h3>

<ChartistBar Options=@options Labels=@data.Labels>
    @foreach (var seriesData in data.Series)
    {
        <BarSeries Name=@seriesData.Name SeriesPoints="seriesData.SeriesPoints" />
    }
</ChartistBar>

@code  {              
        private ExtendedChartData data = new () {
            Labels = new List<string> { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday" }
        };       
       
        private BarOptions options = new ()
        {
            StackBars = true,
            StackMode = StackMode.Accumulate,            
            ShowLegend = true,
            ShowTooltips = true,
            ShowPointLabels = true,
            UseZoom = true

        };        
 
        protected override async Task OnInitializedAsync()
        {
            var series = new SeriesData();
            series.Name = "Week 1";
            series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 12, Meta = new PointMetaInfo { Label = "Monday"} });
            series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 9, Meta = new PointMetaInfo{ Label = "Tuesday"}});
            series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 7, Meta = new PointMetaInfo{ Label = "Wednesday"} });
            series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 8, Meta = new PointMetaInfo{ Label = "Thursday"} });
            series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 5, Meta = new PointMetaInfo{ Label = "Friday"} });
            data.Series.Add(series);

            series = new SeriesData();
            series.Name = "Week 2";
            series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 9, Meta = new PointMetaInfo { Label = "Monday"} });
            series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 4, Meta = new PointMetaInfo{ Label = "Tuesday"}});
            series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 2, Meta = new PointMetaInfo{ Label = "Wednesday"} });
            series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 1, Meta = new PointMetaInfo{ Label = "Thursday"} });
            series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 3, Meta = new PointMetaInfo{ Label = "Friday"} });
            data.Series.Add(series);

        }

    

      



    }
