@page "/Stacked"

<h3>Stacked Multiple Bar</h3>

<ChartistBar Options=@_options Labels=@_data.Labels OnDataPointClicked="EventHandler">
    @foreach (var seriesData in _data.Series)
    {
        <BarSeries Name=@seriesData.Name SeriesPoints="seriesData.SeriesPoints"  />
        
    }
</ChartistBar>

@code  {              
        ExtendedChartData _data;       
       
        BarOptions _options = new BarOptions()
        {
            StackBars = true,
            AxisY = new AxisYOptions()
            {
                Offset = 40
                
            }
        };        
 
        protected override void OnInitialized()
        {
            
            _data = new ExtendedChartData()
            {
                Labels = new List<string> { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday" }
            };
            var series = new SeriesData();
            series.SeriesPoints.Add(new SeriesPoint {  Y = 12, Meta = new PointMetaInfo { Label = "Monday"} });
            series.SeriesPoints.Add(new SeriesPoint {  Y = 9, Meta = new PointMetaInfo{ Label = "Tuesday"}});
            series.SeriesPoints.Add(new SeriesPoint {  Y = 7, Meta = new PointMetaInfo{ Label = "Wednesday"} });
            series.SeriesPoints.Add(new SeriesPoint {  Y = 8, Meta = new PointMetaInfo{ Label = "Thursday"} });
            series.SeriesPoints.Add(new SeriesPoint { Y = 5, Meta = new PointMetaInfo{ Label = "Friday"} });
            _data.Series.Add(series);

            series = new SeriesData();
            series.SeriesPoints.Add(new SeriesPoint { X = 1, Y = 9, Meta = new PointMetaInfo { Label = "Monday"} });
            series.SeriesPoints.Add(new SeriesPoint { X = 2, Y = 4, Meta = new PointMetaInfo{ Label = "Tuesday"}});
            series.SeriesPoints.Add(new SeriesPoint { X = 3, Y = 2, Meta = new PointMetaInfo{ Label = "Wednesday"} });
            series.SeriesPoints.Add(new SeriesPoint { X = 4, Y = 1, Meta = new PointMetaInfo{ Label = "Thursday"} });
            series.SeriesPoints.Add(new SeriesPoint { X = 5, Y = 3, Meta = new PointMetaInfo{ Label = "Friday"} });
            _data.Series.Add(series);
            
            series = new SeriesData();
            series.SeriesPoints.Add(new SeriesPoint { X = 1, Y = 9, Meta = new PointMetaInfo { Label = "Monday"} });
            series.SeriesPoints.Add(new SeriesPoint { X = 2, Y = 4, Meta = new PointMetaInfo{ Label = "Tuesday"}});
            series.SeriesPoints.Add(new SeriesPoint { X = 3, Y = 2, Meta = new PointMetaInfo{ Label = "Wednesday"} });
            series.SeriesPoints.Add(new SeriesPoint { X = 4, Y = 1, Meta = new PointMetaInfo{ Label = "Thursday"} });
            series.SeriesPoints.Add(new SeriesPoint { X = 5, Y = 3, Meta = new PointMetaInfo{ Label = "Friday"} });
            _data.Series.Add(series);
            
        }

    void EventHandler(ChartistMouseEventArgs args)
    {
        Console.WriteLine("X: "  + args.X );
        Console.WriteLine("Y: "  + args.Y );
        Console.WriteLine("Label: "  + args.PointMetaInfo.Label );
        Console.WriteLine("Label: "  + args.PointMetaInfo.Id );
    }

      



    }
