@using Microsoft.JSInterop
@using UnlockedData.Chartist.Blazor
@using UnlockedData.Chartist.Blazor.Core.Data
@using UnlockedData.Chartist.Blazor.Extensions

@inherits UnlockedData.Chartist.Blazor.Core.ChartBase
@namespace UnlockedData.Chartist.Blazor.Charts

<div class="chart-container">
    <div @ref="Elem" class="ct-chart @DisplayRatio.Description() @ClassForRotatedHorizontalLabels() chartist-smart" id="@Id"></div>
</div>

<CascadingValue Value="@(this)">
    @ChildContent
</CascadingValue>

@code {

    [Parameter]
    public LineOptions Options { get; set; } = new();
    
    [Parameter]
    public ExtendedChartData Data { get; set; } = new();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Data.Labels = Labels ?? Data.Labels;

        var objectRef = DotNetObjectReference.Create(this);

      
            await JS.InvokeVoidAsync("bChartist.createChart", "Line", Elem, Data, Options, objectRef, Id);
           
        
        

    }


}