@using Microsoft.JSInterop;
@using Chartist.Blazor.Core.Data;
@using UnlockedData.Chartist.Blazor.Extensions

@inherits UnlockedData.Chartist.Blazor.Core.ChartBase;

<div class="chart-container">
    <div @ref="Elem" class="ct-chart @DisplayRatio.Description()" />
</div>

@code {
    
    [Parameter]
    public PieOptions Options { get; set; } = new();

    [Parameter]
    public PieChartData Data { get; set; } = new();
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var objectRef = DotNetObjectReference.Create(this);

       
            await JS.InvokeVoidAsync("bChartist.createChart", "Pie", Elem, Data, Options, objectRef);
        


    }
}
