@inherits Chartist.Blazor.Core.ChartBase
@namespace Chartist.Blazor.Charts

<div @ref=elem class="ct-chart ct-golden-section" @attributes=ExtraAttributes></div>

<CascadingValue Value="@this">
    @ChildContent
</CascadingValue>