@using Microsoft.JSInterop;
@using BarChartData = ExtendedChartData;

@inject IJSRuntime JS

<div @ref="elem" class="ct-chart ct-golden-section" @attributes="@ExtraAttributes"></div>

@* Pass 'this' instance as a cascading parameter to descendants in tree
    <Microsoft.AspNetCore.Components.CascadingValue Value="@this">
        @ChildContent
    </CascadingValue>
*@

@code {


    ElementReference elem;

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> ExtraAttributes { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    //[Parameter]
    //public ChartType Type { get; set; }

    [Parameter]
    public BarChartData Data { get; set; }

    [Parameter]
    public BarOptions Options { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Options == null)
        {
            Options = new BarOptions();
        }

        if (firstRender)
        {

            await JS.InvokeVoidAsync("bizzyChartist.createChart", "Bar", elem, Data, Options);

        }


    }
}
