@page "/LineWithInputs"

<h3>Multiple Bar with removal events</h3>

<button @onclick="nullme">remo</button>
<input type="text" @bind-value=data.Labels[0] @bind-value:event="oninput"/>
<input type="text" @bind-value=data.Series[0].SeriesPoints[0].Y @bind-value:event="oninput" />

<input type="checkbox" @bind=hidePoint />

<ChartistLine Options=options  Data=data>

    

</ChartistLine>

@code  {

    private bool hidePoint = false;
    private ExtendedChartData data;
    private int seriesSel(bool value)
    {
        if (value)
        {
            return 1;
        }
        return 0;
    }

    private void nullme()
    {
        data.Series[0].SeriesPoints[0].Y = null;
    }

    private LineOptions options = new LineOptions();

    private SeriesData seriesToStrip;
    private SeriesPoint pointToStrip = new SeriesPoint { X = null, Y = 12, Meta = new PointMetaInfo { Label = "Monday" } };

    protected override void OnInitialized()
    {

        data = new Core.Data.ExtendedChartData()
        {
            Labels = new List<string> { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday" }
        };
        var series = new SeriesData();
        series.Name = "Series 1";
        series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 12, Meta = new PointMetaInfo { Label = "Monday" } });
        series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 9, Meta = new PointMetaInfo { Label = "Tuesday" } });
        series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 7, Meta = new PointMetaInfo { Label = "Wednesday" } });
        series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 8, Meta = new PointMetaInfo { Label = "Thursday" } });
        series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 5, Meta = new PointMetaInfo { Label = "Friday" } });
        data.Series.Add(series);
        seriesToStrip = series;


        series = new SeriesData();
        series.Name = "Series 2";
        series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 9, Meta = new PointMetaInfo { Label = "Monday" } });
        series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 4, Meta = new PointMetaInfo { Label = "Tuesday" } });
        series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 2, Meta = new PointMetaInfo { Label = "Wednesday" } });
        series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 1, Meta = new PointMetaInfo { Label = "Thursday" } });
        series.SeriesPoints.Add(new SeriesPoint { X = null, Y = 3, Meta = new PointMetaInfo { Label = "Friday" } });
        data.Series.Add(series);

    }

    private void RemoveValue()
    {

        data.Series[0].SeriesPoints.Remove(pointToStrip);

    }

    private void RemoveSeries()
    {

        data.Series.Remove(seriesToStrip);
    }



}
