@page "/simplepie"
<h3>SimplePie</h3>

<ChartistPie Data="SimplePieData" Options="SimplePieOptions" />

@code {
    private PieChartData SimplePieData { get; set; } = new PieChartData()
    {
        Series = new List<double> { 5, 3, 4 }
    };
    private PieOptions SimplePieOptions { get; set; } = new PieOptions();


}
